html {
  box-sizing: border-box;
  background-color: #eee9de;
  font-family: Lato, sans-serif;
  line-height: 1.5;
  vertical-align: middle;
}

*, *::before, *::after {
  box-sizing: inherit;
}

section {
  padding: 2em 0;
  text-align: center;
}

div {
  display: inline-block;
  max-width: 25em;
  padding: 1em;
  text-align: left;
}

img {
  display: block;
  width: 100%;
}

h2 {
  font-family: Lato, sans-serif, Bold;
  color: #333;
  display: block;
  margin: 0 0 1.5em;
}

body {
  margin: 0;
  text-align: left;
  display: block;
}

p {
  margin: 0 0 1.5em;
  text-align: left;
  display: block;
  max-width: 25em;
  font-size: 1rem;
}

.btn {
  padding: .4em .75em .5em;
  border-radius: 10px;
  margin: 1.5rem;
  font-family: Lato, sans-serif;
  text-align: center;
  color: #666;
  display: block;
  border-color: #333;
  background-color: #eee9de;
}
